<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51903881089-q6pqf1pq4nc9hfgtmm0jlv9f65hjadge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51903881089-q6pqf1pq4nc9hfgtmm0jlv9f65hjadge</string>
	<key>API_KEY</key>
	<string>AIzaSyCuG4jrgr-aKswJyYehY_zXWxOTRn9S6vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>51903881089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alzheimerApp</string>
	<key>PROJECT_ID</key>
	<string>alzheimer-app-a6022</string>
	<key>STORAGE_BUCKET</key>
	<string>alzheimer-app-a6022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51903881089:ios:6684c271f572ce57089280</string>
</dict>
</plist>